			<!-- Sidebar -->

            <div class="sidebar" id="sidebar">
				<div class="sidebar-inner slimscroll">
                <perfect-scrollbar [scrollIndicators]="false">
					<div id="sidebar-menu" class="sidebar-menu">
						<ul>
							<li class="menu-title">
							</li>
							<li [ngClass]="[active2Route === 'dashboard' ? 'active' : '']">
								<a routerLink = "/admin/dashboard" (click)= "setActive()"><i class="fe fe-home"></i> <span>Dashboard</span></a>
							</li>
							<li class="submenu">
								<a href="javascript:void(0);"><i class="fe fe-users"></i> <span> Products</span> <span class="menu-arrow"></span></a>
								<ul style="display: none;">
									<li ><a [ngClass]="[active2Route === 'user' ? 'active' : '']" routerLink = "/admin/user">Product cart</a></li>
							</ul>
							</li>
						</ul>
					</div>
				</perfect-scrollbar>
			</div>
            </div>
			<!-- /Sidebar -->
