<div class="login-wrapper">
    <div class="container">
        <div class="loginbox">
            <div class="login-right">
                <div class="login-right-wrap">
                    <h1>Login</h1>
                    <p class="account-subtitle">Access to our dashboard</p>
                    <!-- Form -->
                    <form>
                        <div class="form-group">
                            <input class="form-control" type="text" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <input class="form-control" formControlName="password"  type="text" placeholder="Password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                              <div *ngIf="f.password.errors.required">Password is required</div>
                              <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                          </div>
                          </div>
                        <div class="form-group">
                            <button class="btn btn-primary btn-block" type="button" (click)= "firstComponentFunction()"routerLink = "/admin/dashboard">Login</button>
                        </div>
                    </form>
                    <!-- /Form -->

                    <div class="text-center forgotpass"><a routerLink = "/admin/forgotpassword">Forgot Password?</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
